* {box-sizing: border-box;}

.game {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  justify-items: center;
  width: 100vw;
}

.board {
  align-items: center;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 200px));
  grid-template-rows: repeat(3, minmax(50px, 200px));
  justify-items: center;
  height: 100%;
  width: 100%;
}

.cell {
  font-size: 40px;
}